/*
CSS for ZhaoXiaoxiao.cn
*/

html, body {
  height: 100%;
}

body {
  font-family:  STHeiti, STKaiti, Apple LiGothic Medium, LiHei Pro Medium, STSong, sans-serif;
  background-color: white;
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}

nav {
  display: block;
  width: 180px;
  height: 243px;
  float: left;
  border-right: 3px solid black;
}

nav ul {
  padding-top: 15px;
  padding-left: 25px;
  font-size: medium;
  font-weight: bold;
  line-height: 2em;
}

#tagline p {
  margin: 0;
  padding-top: .4em;
  padding-left: 1.8em;
  padding-bottom: .2em;
  background-color: #FF0000;
}

h1 {
  padding-top: 65px;
  padding-left: .4em;
  margin: 0;
  background-color: #00B3FF;
  border-bottom: 3px solid;
}

a {
  text-decoration: none;
}

h2 {
  font-size: 190%;
  text-align: center;
  margin: 0;
  padding: 30px 0 15px 0;
}

.caption {
  display: block;
  text-align: right;
  margin-right: 100px;
  margin-bottom: 30px;
  font-size: 110%;
}

.title1 {
  font-size: 150%;
}

.title2 {
  font-size: 130%;
}

.title3 {
  font-size: 115%;
}

.homepageimage {
  padding: 1px;
}

.homepage {
  border: 15px solid white;
  border-radius: 10px;
  -webkit-box-shadow: 2px 2px 15px black, -2px -2px 15px black;
  box-shadow: 2px 2px 15px black, -2px -2px 15px black;
  margin-bottom: 20px;
  margin-top: 105px;
  margin-left: 177px;
}

.jinshanmainui {
  float: left;
  margin-right: 15px;
}

.jinshanshuru {
  float: left;
  margin-right: 15px;
}

.jinshandanci {
  float: left;
  margin-right: 15px;
}

.jinshanyulan {
  float: right;
  margin-left: 15px;
}

.jinshanzhongwenshuru {
  float: left;
  margin-right: 15px;
}

.youdaomainui {
  float: right;
  margin-left: 15px;
}

.youdaoshuru {
  float: left;
  margin-ritht: 15px;
}

.youdaodanci {
  float: left;
  margin-right: 15px;
}

.youdaoyulan {
  float: right;
  margin-left: 15px;
}

.youdaotuisongjihuo {
  float: left;
  margin-right: 15px;
  border: 1px solid black;
}

.haolianxi, .smartisan{
  margin-left: 300px;
}

.homepageimage figcaption {
  display: block;
  font-size: 85%;
  font-weight: bold;
  line-height: 1.4em;
  position: absolute;
  top: 300px;
  left: 800px;
}

#bodycontent {
  top: 125px;
  min-height: 100%;
}

#content {
  padding: 10px;
  margin-left: 180px;
  min-height: 100%;
}

header {
  width: 100%;
}

nav ul li{
  font-weight: bold;
  line-height: 2em;
}

.item p{
  font-size: small;
  line-height: 2em;
  margin-right: 100px;
  margin-left: 61px;
}

.article p{
  font-size: small;
  line-height: 2em;
  margin-right: 30px;
  margin-left: 30px;
}

#content figure {
  margin: 0;
}

.more {
  float:right;
  margin-right: 150px;
}

#function {
  margin-right: 30px;
}

form {
  display:inline;
}

.follow {
  float: right;
  margin: -25px 0 0 0;
  *margin: -30px 0 0 0;
  font-size: x-small;
  font-weight: bold;
}

.search {
  float: right;
  margin: -25px 0 10px 10px;
  *margin: -30px 0 0 0;
  font-size: x-small;
  font-weight: bold;
}

nav ul button {
  background: #00B3FF url(overlay.png) repeat-x; 
  display: inline-block; 
  padding: 8px 14px 9px; 
  color: #fff; 
  text-decoration: none;
  box-shadow: 0 1px 3px rgba(0,0,0,0.6);
  -webkit-box-shadow: 0 1px 3px rgba(0,0,0,0.6);
  text-shadow: 0 -1px 1px rgba(0,0,0,0.25);
  border-bottom: 1px solid rgba(0,0,0,0.25);
  position: relative;
  cursor: pointer;
  font-size: 12px;
  width: 130px;
  margin-left : 0px;
}

nav ul button:hover {
  background-color: #111; color: #fff;
}

nav ul button:active {
  top: 1px;
}

.item {
  margin-top: 20px;
  margin-left: 45px;
  padding-bottom: 50px;
}

.title button {
  background: #00B3FF url(overlay.png) repeat-x; 
  padding: 8px 14px 9px; 
  color: #fff; 
  text-decoration: none;
  -moz-box-shadow: 0 1px 3px rgba(0,0,0,0.6);
  -webkit-box-shadow: 0 1px 3px rgba(0,0,0,0.6);
  text-shadow: 0 -1px 1px rgba(0,0,0,0.25);
  border-bottom: 1px solid rgba(0,0,0,0.25);
  position: relative;
  cursor: pointer;
  font-size: 15px;
  width: 400px;
  margin-left : 10px;
}

.item .title button:hover {
  background-color: #111; color: #fff;
}

.item .title button:active {
  top: 1px;
}

.date button {
  background: #FF0000 url(overlay.png) repeat-x; 
  padding: 8px 14px 9px; 
  color: #fff; 
  text-decoration: none;
  -moz-box-shadow: 0 1px 3px rgba(0,0,0,0.6);
  -webkit-box-shadow: 0 1px 3px rgba(0,0,0,0.6);
  text-shadow: 0 -1px 1px rgba(0,0,0,0.25);
  border-bottom: 1px solid rgba(0,0,0,0.25);
  position: relative;
  cursor: pointer;
  font-size: 12px;
  width: 52px;
  margin-left : 0px;
}

dl {
  margin-bottom: 20px;
}

dt {
  font-weight: bold;
}

dt, dd {
  line-height: 20px;
}

.about {
  margin-top: 61px;
  margin-left: 45px;
}

.about dt{
  float: left;
  width: 120px;
}

.about dd{
  margin-left: 130px;
}

.about_dd{
  padding: 0;
  margin: 0;
}

footer {
  color: gray;
  text-align: center;
  margin-top: 100px;
  margin-bottom: 0;
}

#bodycontent .wwdc_image {
  border-radius: 10px;
  -webkit-box-shadow: 2px 2px 15px black, -2px -2px 15px black;
  box-shadow: 2px 2px 15px black, -2px -2px 15px black;
  margin-top: 60px;
  margin-left: 45px;
  margin-bottom: 20px;
}

#bodycontent .wwdcs figure img {
  border: 14px solid white;
  border-radius: 10px;
  -webkit-box-shadow: 2px 2px 15px black, -2px -2px 15px black;
  box-shadow: 2px 2px 15px black, -2px -2px 15px black;
  margin-bottom: 10px;
}

#bodycontent .wwdcs figcaption {
  display: block;
  font-size: 65%;
  font-weight: bold;
  margin-top: 0;
  widh: 430px;
  line-height: 1.4em;
}

#bodycontent .wwdcs figure {
  display: block;
  padding-bottom: 20px;
  border-bottom: 1px solid navy;
  padding-bottom: 10px;
  padding-top: 70px;
  padding-left: 70px;
}