/*
CSS for ZhaoXiaoxiao.cn
*/

html, body {
  height: 100%;
}

body {
  font-family:  STHeiti, STKaiti, Apple LiGothic Medium, LiHei Pro Medium, STSong, sans-serif;
  color: #16a085;
  background-color: #222;
  margin: 0;
  padding: 0;
}

nav li {
  list-style: none;
}

li a {
  color: #16a085;
}

nav {
  display: block;
  width: 180px;
  height: 243px;
  float: left;
  border-right: 3px solid black;
}

nav ul {
  padding-top: 15px;
  padding-left: 25px;
  font-size: medium;
  font-weight: bold;
  line-height: 2em;
}

#tagline p {
  color: black;
  margin: 0;
  padding-top: .4em;
  padding-left: 1.8em;
  padding-bottom: .2em;
  background-color: green;
}

h1 {
  color: black;
  padding-top: 65px;
  padding-left: .8em;
  margin: 0;
  background-color: #00B3FF;
  border-bottom: 3px solid;
}

a {
  text-decoration: none;
}

h2 {
  font-size: 190%;
  text-align: center;
  margin: 0;
  padding: 30px 0 15px 0;
}

.minecraft {
  border: 15px solid white;
  border-radius: 10px;
  -webkit-box-shadow: 2px 2px 15px black, -2px -2px 15px black;
  box-shadow: 2px 2px 15px black, -2px -2px 15px black;
  margin-bottom: 20px;
  margin-top: 167px;
  margin-left: 58px;
}

.homepage figcaption {
  display: block;
  font-size: 85%;
  font-weight: bold;
  line-height: 1.4em;
  position: absolute;
  top: 524px;
  left: 737px;
}

#bodycontent {
  top: 125px;
  width: 100%;
  min-height: 100%;
}

#content {
  display: block;
  padding: 22px 10px;
  margin-left: 180px;
  min-height: 100%;
}

header {
  width: 100%;
}

#function {
  margin-right: 30px;
}

form {
  display:inline;
}

.follow {
  float: right;
  margin: -25px 0 0 0;
  *margin: -30px 0 0 0;
  font-size: x-small;
  font-weight: bold;
}

.search {
  float: right;
  margin: -25px 0 10px 10px;
  *margin: -30px 0 0 0;
  font-size: x-small;
  font-weight: bold;
}

nav ul button {
  background: #00B3FF url(overlay.png) repeat-x; 
  display: inline-block; 
  padding: 8px 14px 9px; 
  color: #fff; 
  text-decoration: none;
  border-bottom: 1px solid rgba(0,0,0,0.25);
  position: relative;
  cursor: pointer;
  font-size: 12px;
  width: 130px;
  margin-left : 0px;
}

.blog {
  background: #16a085 url(overlay.png) repeat-x; 
  
  margin-top: 1px; 
}

nav ul button:hover {
  background-color: #111; color: #fff;
}

nav ul button:active {
  top: 1px;
}

.links {
  margin-top: 49px;
  margin-left: 10px;
}

.links ul {
  line-height: 2em;
}

dl {
  margin-bottom: 20px;
}

dt {
  font-weight: bold;
}

dt, dd {
  line-height: 20px;
}

.about {
  margin-top: 61px;
  margin-left: 45px;
}

.about dt{
  float: left;
  width: 120px;
}

.about dd{
  margin-left: 130px;
}

.about_dd{
  padding: 0;
  margin: 0;
}

footer {
  color: gray;
  text-align: center;
  margin-top: 100px;
  margin-bottom: 0;
}

#bodycontent .wwdc_image {
  border-radius: 10px;
  -webkit-box-shadow: 2px 2px 15px black, -2px -2px 15px black;
  box-shadow: 2px 2px 15px black, -2px -2px 15px black;
  margin-top: 60px;
  margin-left: 45px;
  margin-bottom: 20px;
}

#bodycontent .wwdcs figure img {
  border: 14px solid white;
  border-radius: 10px;
  -webkit-box-shadow: 2px 2px 15px black, -2px -2px 15px black;
  box-shadow: 2px 2px 15px black, -2px -2px 15px black;
  margin-bottom: 10px;
}

#bodycontent .wwdcs figcaption {
  display: block;
  font-size: 65%;
  font-weight: bold;
  margin-top: 0;
  widh: 430px;
  line-height: 1.4em;
}

#bodycontent .wwdcs figure {
  display: block;
  padding-bottom: 20px;
  border-bottom: 1px solid navy;
  padding-bottom: 10px;
  padding-top: 70px;
  padding-left: 70px;
}