/*
CSS for ZhaoXiaoxiao.cn
*/

html, body {
  height: 100%;
}

body {
  font-family:  STHeiti, STKaiti, Apple LiGothic Medium, LiHei Pro Medium, STSong, sans-serif;
  color: #16a085;
  background-color: #222;
  margin: 0;
  padding: 0;
}

#clock{
  float: left;
}

#what {
  width: 320px;
  height: 320px;
  float: right;
  padding-right: 60px;
}

.sitebranding {
  padding-top: 200px;
  font-size: 65px;
}

.nav {
  margin-top: 20px;
  font-size: 18px;
}

.nav li {
  list-style: none;
}

nav {
  display: block;
  width: 180px;
  height: 243px;
  float: left;
  border-right: 3px solid black;
}

nav ul {
  padding-top: 15px;
  padding-left: 25px;
  font-size: medium;
  font-weight: bold;
  line-height: 2em;
}

.title {
  color: #00B3FF;
  margin: 0;
}

a {
  text-decoration: none;
  color: #00B3FF;
}

h2 {
  font-size: 190%;
  text-align: center;
  margin: 0;
  padding: 30px 0 15px 0;
}

#bodycontent {
  clear: both;
  top: 125px;
  width: 100%;
  min-height: 100%;
}

#content {
  display: block;
  padding: 22px 10px;
  margin-left: 180px;
  min-height: 100%;
}

header {
  width: 100%;
}

form {
  display:inline;
}

nav ul button {
  background: #00B3FF; 
  display: inline-block; 
  padding: 8px 14px 9px; 
  color: #fff; 
  text-decoration: none;
  border-bottom: 1px solid rgba(0,0,0,0.25);
  position: relative;
  cursor: pointer;
  font-size: 12px;
  width: 130px;
  margin-left : 0px;
}

.blog {
  background: #16a085; 
  
  margin-top: 1px; 
}

nav ul button:hover {
  background-color: #111; color: #fff;
}

nav ul button:active {
  top: 1px;
}

.links {
  margin-top: 49px;
  margin-left: 10px;
}

.links ul {
  color: white;
  line-height: 2em;
}

dl {
  margin-bottom: 20px;
}

dt {
  font-weight: bold;
}

dt, dd {
  line-height: 20px;
}

dd a {
  color: #00B3FF;
}

.about {
  width: 605px;
  margin: 0 30px 0 auto;
}

.about dt{
  float: left;
  width: 120px;
  text-align: left;
}

.about dd{
  margin-left: 130px;
  text-align: left;
}

.about_dd{
  padding: 0;
  margin: 0;
}

footer {
  color: gray;
  text-align: center;
  margin: 100px 20px 0 20px;
  border-top: 2px solid #16a085;
  padding: 20px 0 20px 0;
}

.pageinfo {
  float: left;
  margin: 0 0 0 30px;
}